@font-face{
    font-family: 'OpenSans';
    src: url('../font/2211.ttf');
}
@font-face{
    font-family: 'OpenSans-Light';
    src: url('../font/2209.ttf');
}
@font-face{
    font-family: 'OpenSans-Bolt';
    src: url('../font/2204.ttf');
}
@font-face{
    font-family: 'OpenSans-Light-Italic';
    src: url('../font/2210.ttf');
}
@font-face{
    font-family: 'Lato';
    src: url('../font/9622.ttf');
}
@font-face{
    font-family: 'LatoBolt';
    src: url('../font/9623.ttf');
}
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;  
}
.clearfix:after{
        content: '';
        display: table;
        width: 500%;
        clear: both;
}
div {
    box-sizing: border-box;
}
header{
            background: url(../img/color_overlay.png) no-repeat center top / cover;
            background: url(../img/img.png) no-repeat center top / cover;
            height: 900px;
        }


nav {
    float: right;
    margin-top: 50px;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.logo {
    margin-top: 35px;
    float: left;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 41px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.titles_first{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 250px;
}

.titles_up{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}
h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}
.button{
    background: url(../img/bg.png) no-repeat center top / cover;
    color: white;
    border-radius: 3px;
    display: block;
    width: 170px;
    padding: 20px 20px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;

}

}

@keyframes fade{
    0%{opacity:0.4;}
    100%{opacity:1;}
}
.btn {
    display: inline-block;
    padding: 1%;
}
.enabled button{
    background-color: rgba(224, 208, 208, 0);
    border: 1px solid #fff;
}
.slider__nav{
    text-align: center;
  
    transform: translateY(-60px);
    
}
.container__products {
    max-width: 1180px;
    margin: 0 auto;
}
.container__caption {
    font-size: 40px;
    font-style: italic;
    text-align: center;
    font-family: OpenSans-Light-Italic, sans-serif;
}
.container__caption hr {
    border-color: #FF0000;
    width: 5%;
}
.conteiner__products__categories {
    width: 100%;
    
    padding: 11px 0;
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
}
.conteiner__products__categories a{
    text-decoration: none;
}

.catecories__content p{
  
    font-style: italic;
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-family: OpenSans-Light-Italic, sans-serif;
    
}
.post {
    
    margin: auto 10px;
    padding: 27px;
    width: 370px;
    height: 420px;
    margin-left: 20px;
}

.catecories__1 {
    flex: auto;
}
.catecories__2 {
    
    vertical-align: middle;
}
.conteiner__products__shares {
    width: 100%;
    
    padding: 11px 0;
    display: flex;
    justify-content: center;
    
    margin-top: 7px;
}

.conteiner__products__shares hr {
    border-color: #FFF;
    width: 26%;
}
.sale {
    width: 100%;
    margin: auto 10px;
    padding: 27px;
    height: 420px;
}
.sale__hr {
    margin-top: 19%;

}
.sale__content {
    font-size: 2.5vw;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-align: center;
    
    width: 20%;
    position: absolute;
}
.sale__content p{
    border-radius: 3px;
    display: block;
    width: 170px;
    padding: 20px 20px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
}

#conteiner__item {
    background-color: #DCDCDC;
}
.conteiner__item {
    max-width: 1180px;
    margin: 0 auto;
}
.conteiner__item__product {
    width: 100%;
    height: auto;
    margin-top: 60px;
    display: inline-flex;
    flex-direction: row;
}
.conteiner__item__product img{
    width: 100%;
}
.item {
    width: 100%;
}
.product__description {
    width: 100%;
    height: 100%;
    margin-left: 31px;
}
.product__description__text h1 {
    font-weight: bold;
    color: #FF0000;
    margin: 0;
    font-size: 30px;
    font-family: LatoBolt, sans-serif;
    margin-top: 22px;
}
.product__description__text p {
    color: rgba(119, 119, 119, 255);
    font-size: 18px;
    font-family: OpenSans, sans-serif;
    letter-spacing: 2px;
}
.product__description__other__text{
    color: rgba(119, 119, 119, 255);
    font-size: 18px;
    font-family: Lato, sans-serif;
    margin-top: 27px;
}
.product__description__border{
    width: 114px;
    height: 3px;
    margin: 0 auto;
    color: rgba(119, 119, 119, 255);
}
.ghost-button {
    display: inline-block;
    width: 42px;
    padding: 13px;
    color: #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #A9A9A9;
    border-right: 1px solid #A9A9A9;
    text-align: center;
    outline: none;
    text-decoration: none;
    margin-right: 27px;
}
.product__main__btn .ghost-button {
    margin-top: 31px;
    width: 142px;
    margin-right: 29px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.product__main__btn{
    font-size: 16px;
    font-family: OpenSans-Bolt, serif;
}
.product__size__btn{
    margin-top: 76px;
    font-size: 16px;
    font-family: OpenSans-Bolt, serif;
}

.conteiner__item__product__slider button {
    border-radius: 50%;
    padding: 5px;
}

.size__enabled{
    background-color: #000;
    color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.container__item__btn__slider .enabled button{
    background-color: #fff;
    border: 1px solid #FF0000;
}
.container__item__btn__slider{
    text-align: center;
    padding: 2%;
}
#container__blog{
    margin-top: 60px;
}
.container__blog {
    max-width: 1180px;
    margin: 0 auto;
}
.container__blog__row {
    width: 100%;
    height: auto;
    margin-top: 1%;
    display: flex;

    justify-content: center;
}
.container__blog__row img{
    width: 100%;
   
}
.conteiner__blog__col__1 {
   
    margin-left: 9px;
}
.conteiner__blog__col__2 {
    width: 100%;
    height: 100%;
    margin-left: 2%;
}
.container__blog__text{
    margin-top: 27px;
}
.container__blog__text h1 {
    font-weight: bold;
    color: #FF0000;
    font-family: LatoBolt, serif;
    margin: 0;
    font-size: 30px;
}
.container__blog__text h4 {
    color: rgba(51, 51, 51, 255);
    font-size: 16px;
    font-family: Lato, serif;
}
.container__blog__text p {
    color: rgba(51, 51, 51, 255);
    font-size: 18px;
    font-family: OpenSans-Light, sans-serif;
    margin-top: 54px;
}

.container__blog__row .ghost-button {
    margin-top: 44px;
    width: 142px;
    
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: LatoBolt, sans-serif;
    height: 23px;
}
footer{
    background: url(../img/footer.png) no-repeat center top / cover;
}
.conteiner__footer{
    max-width: 1180px;
    margin: 0 auto;
    height: 250px;
}
.conteiner__footer__content__btn .ghost-button {
    width: 242px;
    border: 1px solid #fff;
    background-color: #fff;
    font-size: 18px;
    font-family: OpenSans-Bolt, serif;
}
.conteiner__footer__content {
    width: 100%;
    height: auto;
    margin-top: 8px;
    display: inline-flex;
    flex-direction: row;
}
.conteiner__footer__content__edit input{
    border: 1px solid #fff;
    text-transform: uppercase;
    background-color: transparent;
    padding: 15px;
    color: #fff;
    margin-left: 9px;
    margin-right: 130px;
    width: 739px;
    height: 20px;
}
.conteiner__footer__content__edit {
    flex: auto;
}
.conteiner__footer__content__btn {
    width: 100%;
    height: 100%;
}
.conteiner__footer__text h3{
    font-size: 18px;
    color: #fff;
    font-family: OpenSans-Light, sans-serif;
}
.conteiner__footer__text{
    margin-top: 30px;
    padding-top: 52px;
    margin-left: 9px;
}
.footer__item{
   
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next{
    right: -100px;
    border-radius: 3px 0 0 3px;
    position: absolute;
}
.prev:hover, .next:hover{
    background-color: rgba(113, 113, 113, 0);
    border: 1px solid #fff;
}
.slider__slides_3{
    position: relative;
    margin-top: 55px;
}
.btn{
    position: absolute;
}
.prev{
    left: -100px;
}
.container_border{
    width: 70px;
    height: 3px;
    margin: 0 auto;
    background-color: red;
}
.container__caption p{
    padding: 10px;
    margin: 7px;
}
.catecories__1{
    background: url(../img/product_men.png) no-repeat center top;
    background-size: cover;
}
.catecories__2{
    background: url(../img/product_woman.png) no-repeat center top;
    background-size: cover;
}
.catecories__3{
    background: url(../img/product_watches.png) no-repeat center top;
    background-size: cover;
}

.catecories__content{
    border: 3px solid #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slider__slides{
    overflow: hidden;
}
#container__products{
    margin-top: 40px;
}
.shares__1{
    background: url(../img/product_40.png) no-repeat center top;
    background-size: cover;
}
.shares__2{
    background: url(../img/product_sale.png) no-repeat center top;
    background-size: cover;
}
.shares__1 {
    flex: auto;
}
#conteiner__item{
    margin-top: 40px;
}
.slider__nav_2{
    text-align: center;
    margin-top: 47px;
    margin-left: 9px;
    padding-bottom: 55px;
}